.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;

}

.dialogItems {
    padding: 10px;
    background-color: white;
    color: orange;


}
.messages {
    padding: 10px;
    background-color: blue;
    color: black;


}

.message {

}

.dialog .dialogActive{
color: gold;
}

